@{
    ViewBag.Title = "About";
}
<h2><b>За нас</b></h2>


<p>BG-Bike е магазин и сервиз за велосипеди в град Пловдив. При нас ще намерите както градски, така и планински велосипеди, за деца и за възрастни. Предлагаме също и пълна гама аксесоари и екипировка за колоездене.</p>

<p>Сервизът изпълнява всякави ремонтни дейности, включително и най-странните желания на клиентите, в това число: сглобяване и разглобяване, рециклиране (пребоядисване) на велосипеди. Справяме се и доста добре с разплитане, наплитане и центровка на капли – нови и стари (но не много стари)! За редовните клиенти на сервиза направили онлайн регистрация и заявка за сервизна услуга е предвидена 20% отстъпка от цената на сервизните услуги.</p>


<img src="https://bg-bike.com/img/cms/magazin-bg-bike.jpg"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<img src="https://bg-bike.com/img/cms/serviz.jpg">

