@{
    ViewBag.Title = "Contact";
}
<center>
    <h2>Bike shop location</h2>


    <address>
        BG Bike <br />
        ul. "Kapitan Raycho Nikolov" 56, 4000 Plovdiv<br />
        Phone number:
        0885349980
    </address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.425549841567!2d24.753114779881173!3d42.14117960677022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1a67715f27b%3A0x26067f4eca81f045!2z0JzQsNCz0LDQt9C40L0g0LfQsCDQstC10LvQvtGB0LjQv9C10LTQuCBCR2Jpa2UuYmc!5e0!3m2!1sen!2sbg!4v1638399395118!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</center>