@{
    ViewBag.Title = "Home Page";
}

<h1>Курсов проект по Разпределени приложения(C#)</h1>
<h2>Изготвил: Иван Карагьозов</h2>
<h2>Ф№ 1901261053</h2>
<h2>Тема: Магазин за колела и компоненти</h2>




<img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.6435-9/60359292_2894805493868612_628645266374787072_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=19026a&_nc_ohc=DLXIrkEEhC8AX_cNtLb&_nc_ht=scontent-sof1-1.xx&oh=3b522b1559a773cc9f9181a5b83b28d7&oe=61CE0438">